<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Product</title>
    <link type="text/css" rel="stylesheet" href="../bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index"> Management Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/showAllUser"> Management User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="col-3"></div>
<div class="container col-6">
    <h1 text align="center">Manage User</h1>
    <table class="table table-active">
            <tr>
                <th>Username</th>
            <th>Password</th>
            <th>Địa Chỉ</th>
            <th> Role</th>
            <th>Hoạt Động</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.role}"></td>

            <td>
                <a th:href="@{/editUser?id={id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/deleteUser?id={id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/addUser" class="btn btn-success">Add User</a>
    <a href="/admin" class="btn btn-success">Back</a>
</div>
</body>
</html>